<!-- <p>add-user works!</p> -->
<div class="col-md-6">
    <h2 class="text-center">Add User Contact</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="firstname">First Name:</label>
        <input formControlName="firstname" placeholder="First Name" name="firstname" class="form-control" id="firstname">
        <div class="feedback-red" *ngIf="isInvalid('firstname')">
          First Name is empty.
        </div>
      </div>

      <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input formControlName="lastname" placeholder="Last name" name="lastname" class="form-control" id="lastname">
        <div class="feedback-red" *ngIf="isInvalid('lastname')">
          Last Name is empty.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
        <div class="feedback-red" *ngIf="isEmailInvalid('email')">
          Email is not valid.
        </div>
      </div>

      <button button [disabled]="addForm.invalid" class="btn btn-success">Submit</button>
      <button class="btn btn-danger ml-2 " (click)="onCancel()">Cancel</button>
    </form>
  </div>
