<br>
<a class="btn btn-success ml-2" routerLink="/add-user">New</a>
<hr>
<div class="usercontact-list">  
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usercon of usercontacts">
        <td>{{usercon.id}}</td>
        <td>{{usercon.firstname}}</td>
        <td>{{usercon.lastname}}</td>
        <td>{{usercon.email}}</td>
        <td>
          <button class=" btn btn-primary " (click)="editUserContact(usercon) ">Edit</button>
        </td>
        <td>
          <button class="btn btn-danger ml-2 " (click)="deleteUserContact(usercon) ">Delete</button>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
